<%# -*- coding: UTF-8 -*- -%>
<% Template.target_binary_version(1.0) -%>
<%= toc["title"] %>
<%= toc["author"] %>
<%= cover_chuki %>
［＃区切り線］
<%= toc["story"] %>

掲載ページ: <a href="<%= toc["toc_url"] %>"><%= toc["toc_url"] %></a>
［＃区切り線］

<% sections.each_with_index do |section, i| -%>
［＃改ページ］
<% if section["chapter"] != "" -%>
［＃ページの左右中央］
<%= toc["title"] %>

［＃ここから大見出し］<%= section["chapter"] %>［＃ここで大見出し終わり］
　
　
［＃改ページ］
<% end -%>
［＃３字下げ］［＃ここから中見出し］<%= section["subtitle"].rstrip %>［＃ここで中見出し終わり］
<% if section["element"]["introduction"] != "" -%>
［＃ここから前書き］
<%= section["element"]["introduction"] %>
［＃ここで前書き終わり］
<% end -%>


<%= section["element"]["body"] %>
<% if section["element"]["postscript"] != "" -%>
［＃ここから後書き］
<%= section["element"]["postscript"] %>
［＃ここで後書き終わり］
<% end -%>
<% end -%>
