<%# -*- coding: utf-8 -*- -%>
<% Template.target_binary_version(1.0) -%>
<%= processed_title %>
<%= toc["author"] %>
<%= cover_chuki %>
［＃区切り線］
<% if toc["story"] != "" -%>
あらすじ：
<%= toc["story"] %>

<% end -%>
掲載ページ:
<a href="<%= Helper.ampersand_to_entity(toc["toc_url"]) %>"><%= toc["toc_url"] %></a>
［＃区切り線］

<% sections.each_with_index do |section, i| -%>
［＃改ページ］
<% if section["chapter"] != "" -%>
［＃ページの左右中央］
［＃ここから柱］<%= toc["title"] %>［＃ここで柱終わり］
<% if device && device.ibooks? -%>
<%# ibooks だと左右中央が機能しないため -%>
<%= "\n" * 6 -%>
<% end -%>
［＃３字下げ］［＃大見出し］<%= section["chapter"] %>［＃大見出し終わり］
［＃改ページ］
<% end -%>

［＃３字下げ］［＃中見出し］<%= section["subtitle"].rstrip %>［＃中見出し終わり］
<% if section["element"]["introduction"] != "" -%>
<% introduction, illust_chuki_array = Helper.extract_illust_chuki(section["element"]["introduction"]) -%>
<% if device && device.kobo? -%>
<%# koboだと前書き・後書き注記がうまくレイアウト出来ないため %>

［＃ここから８字下げ］
［＃ここから２段階小さな文字］
<%= introduction %>
［＃ここで小さな文字終わり］
［＃ここで字下げ終わり］
<% else -%>
［＃ここから前書き］
<%= introduction %>
［＃ここで前書き終わり］
<% end -%>
<% if illust_chuki_array.count > 0 -%>
<%= illust_chuki_array.join("\n") %>
<% end -%>
<% end -%>


<%= section["element"]["body"] %>
<% if section["element"]["postscript"] != "" -%>
<% postscript, illust_chuki_array = Helper.extract_illust_chuki(section["element"]["postscript"]) -%>
<% if device && device.kobo? -%>

［＃ここから８字下げ］
［＃ここから２段階小さな文字］
<%= postscript %>
［＃ここで小さな文字終わり］
［＃ここで字下げ終わり］
<% else -%>
［＃ここから後書き］
<%= postscript %>
［＃ここで後書き終わり］
<% end -%>
<% if illust_chuki_array.count > 0 -%>
<%= illust_chuki_array.join("\n") %>
<% end -%>
<% end -%>
<% end -%>
<% if setting.enable_display_end_of_book -%>
［＃ここから地付き］［＃小書き］（本を読み終わりました）［＃小書き終わり］［＃ここで地付き終わり］
<% end -%>
