!!! 5
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "whiteleaf", :name => "author"}/
    %meta{:content => "none", :name => "robots"}/
    %title Narou.rb WEB UI #{@title ? "- #{@title}" : ""}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "//cdn.datatables.net/colreorder/1.1.2/css/dataTables.colReorder.css", :rel => "stylesheet"}/
    %link{:href => "//cdn.datatables.net/colvis/1.1.1/css/dataTables.colVis.css", :rel => "stylesheet"}/
    %link{:href => "/resources/perfect-scrollbar.min.css", :rel => "stylesheet"}/
    %link{:href => "/resources/toggle-switch.css", :rel => "stylesheet"}/
    %link{:href => "/style.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    - if session[:alert]
      - message, type = session[:alert]
      - session[:alert] = nil
      .container
        #fadeout-alert.alert(class="alert-#{type}")
          &= message
    != yield
    %script{:src => "//code.jquery.com/jquery-1.11.1.min.js"}
    %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    %script{:src => "//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"}
    %script{:src => "//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"}
    %script{:src => "//cdn.datatables.net/colreorder/1.1.2/js/dataTables.colReorder.min.js"}
    %script{:src => "/resources/dataTables.colVis.js"}
    %script{:src => "/resources/bootbox.min.js"}
    %script{:src => "/resources/shortcut.js"}
    %script{:src => "/resources/perfect-scrollbar.min.js"}
    %script{:src => "/resources/jquery.outerclick.js"}
    %script{:src => "/resources/jquery.slidenavbar.js"}
    %script{:src => "/resources/jquery.moveto.js"}
    %script{:src => "/resources/narou.library.js"}
    %script{:src => "/resources/common.ui.js"}
    :javascript
      var slideNavbar = $(".navbar-collapse").slideNavbar();
      if (typeof local_initialize_function !== "undefined") local_initialize_function($);
    - if env["PATH_INFO"] == "/"
      %script{:src => "/resources/narou.ui.js"}

