-# このページ内専用のjavascriptでjQueryオブジェクトを参照したい場合この関数に記述
:javascript
  var local_initialize_function = function($) {
    var notification = new Narou.Notification();
    var stream_console = new Narou.Console(notification, {
      restore: false, buttons: false
    });
    var action = new Narou.Action(null);

    // 小説変換ボタン
    $("#console-dialog").on("shown.bs.modal", function() {
      action.convert("#{h @id}");
    });
    $("#btn-convert").on("click", function(e) {
      e.preventDefault();
      stream_console.clear();
      $("#console-dialog").modal();
    });

    // フォルダを開くボタン
    $("#btn-folder").on("click", function(e) {
      e.preventDefault();
      action.folder("#{h @id}");
    });

    var tooltip_opt = {
      animation: false,
      container: "body",
      placement: "right",
    };

    // replace.txt 設定パネル
    $(".btn-replace-remove").on("click", function(e) {
      e.preventDefault();
      if ($(".replace-pattern-tr").size() === 1) {
        // 入力欄のtrが全部なくなると追加出来なくなるので、消す前に1個追加しておく
        $("#btn-replace-add").trigger("click");
      }
      $(this).tooltip("destroy").closest("tr").remove();
    });
    $blank_tr = $(".replace-pattern-tr:last").clone(true);   // 読み込み直後の末尾は空なので流用
    $("#btn-replace-add").on("click", function(e) {
      e.preventDefault();
      var $clone = $blank_tr.clone(true);
      $clone.find("button").tooltip(tooltip_opt);
      $(".replace-pattern-tr:last").after($clone);
      $(this).tooltip("hide");
    });

    $("[data-toggle=tooltip]").tooltip(tooltip_opt);   // tooltip要素がコピーされないようにclone後に
  };

%form(action="/novels/#{@id}/setting" method="POST")
  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
      .navbar-header
        %button.navbar-toggle(type="button")
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#" data-move-to="top") Narou.rb WEB UI
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a(href="/novels/#{@id}/setting") 小説設定
          %li
            %a(href="/") 戻る
        .navbar-form.navbar-lefj
          %input.btn.btn-info(type="submit" value="設定を保存" style="margin-left: 50px")
          %button#btn-convert.btn.btn-default この小説を変換
          %button#btn-folder.btn.btn-default フォルダを開く

  .container.container-main.theme-showcase(role="main")
    %p.visible-xs-inline
      %input(type="submit" value="設定を保存" class="btn btn-info" style="float:none")

    %p.panel-settings-link
      goto <a href="#replace-panel" data-move-to="#replace-panel">置換設定</a>

    #setting-panel.panel.panel-info.panel-settings
      .panel-heading <b>#{h @novel_title}</b> の変換設定
      .panel-body
        ・この小説専用の変換時の設定を変更出来ます（setting.ini を書き換えます）<br>
        ・変更を反映させるには再度変換を実行する必要があります<br>
        ・環境設定で force.* 系設定が有効になっている場合、ここでの該当項目は無視されます<br>
        ・保存するとこの小説の setting.ini に書かれているコメントは削除されます
      .list-group
        - @default_settings.each do |info|
          - name = info[:name]
          - value = @novel_setting[name]
          - help = info[:help].strip.gsub("\n", "<br>")
          - list_group_item_style = {}
          - force_value = @force_settings["force.#{name}"]
          - if @error_list[name]
            - list_group_item_style = {class: "has-error", style: "background-color:#f2dede"}
          - elsif force_value.nil?.!
            - list_group_item_style = {style: "background-color: #fcf8e3"}
          .list-group-item.form-group{list_group_item_style}
            %h4.list-group-item-heading #{name}
            .list-group-item-text
              - case info[:type]
              - when :boolean
                %label(class="switch-light well")
                  <input type="checkbox" name="#{name}" #{value ? "checked" : ""}>
                  %span
                    %span しない
                    %span する
                  %a(class="btn btn-primary")
              - else
                %input{type:"text", name:name, value:value, class:"form-control",
                       placeholder:Helper.variable_type_to_description(info[:type]).strip }
              %p #{help}
              .help-extra-messages
                %p デフォルト：#{h value_to_msg(info[:value])}
                - unless force_value.nil?
                  %p
                    %b force.#{name} が有効になっています（設定値：#{h value_to_msg(force_value)}）
              - if @error_list[name]
                %p.alert-danger
                  &= @error_list[name]
              .clear

    %p.panel-settings-link
      goto <a href="#setting-panel" data-move-to="#setting-panel">変換設定</a>

    #replace-panel.panel.panel-info.panel-settings
      .panel-heading <b>#{h @novel_title}</b> の置換設定
      .panel-body
        ・小説の文章を置換する設定を行うことが出来ます（replace.txt を書き換えます）<br>
        ・変更を反映させるには再度変換を実行する必要があります<br>
        ・保存するとこの小説の replace.txt に書かれているコメントは削除されます<br>
        ・replace.txt による置換が行われるタイミングは、全てのテキスト処理が行われた後の、整形済みテキスト全文です。つまり見出しやストーリー等も置換対象です。
      .list-group
        .list-group-item.form-group
          .list-group-item-text
            %table#replace-txt-table
              %thead
                %tr
                  %td 対象文字列
                  %td &nbsp;
                  %td 置き換える文字列
                  %td &nbsp;
              %tbody
                -# 末尾に新規入力用の空要素を追加
                - (@replace_pattern + [["",""]]).each do |pattern|
                  %tr.replace-pattern-tr
                    %td
                      %input{type:"text", name:"replace_pattern[][left]", value:pattern[0], class:"form-control"}
                    %td
                      %span.glyphicon.glyphicon-chevron-right
                    %td
                      %input{type:"text", name:"replace_pattern[][right]", value:pattern[1], class:"form-control"}
                    %td
                      %button.btn-replace-remove.btn.btn-default(data-toggle="tooltip" title="削除")
                        %span.glyphicon.glyphicon-remove
                %tr
                  %td(colspan=4)
                    %button#btn-replace-add.btn.btn-default(data-toggle="tooltip" title="１行追加")
                      %span.glyphicon.glyphicon-plus

    %input(type="submit" value="設定を保存" class="btn btn-info" style="float:none")

#console-dialog.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        %button(type="button" class="close" data-dismiss="modal")
          %span(aria-hidden="true") &times;
          %span.sr-only Close
        %h4.modal-title サブコンソール
      .modal-body
        #console.console
      .modal-footer
        %button.btn.btn-primary(type="button" data-dismiss="modal") 閉じる
